

/* .product-imgDiv{
    flex: 0.5;
    border: 1px solid red;
    
} */



.top-image {
    margin-bottom: 10px; 
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 

  }